.gwd-img-mudada {
}


*{ margin : 0px;

} #menu{
	height: 15%;
	width:100%;
	border-width:thin;
	background-color:#1C1C1C;
	border-bottom-style:solid;
	border-color:#FEFEFE;
} #home{
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-image: url("../IMAGENS/img-07.png");
	background-color: #1C1C1C;
	background-size:contain;
	background-position:center;
} #homeMapa{
	height: 100%;
	width: 100%;
	background-repeat: repeat;
	background-image: url("../IMAGENS/back-mapa.jpg");
	background-color: #1C1C1C;
	background-size:contain;
	background-position:center;

}#homeMapa div{
	float: left;
	width: 100%;
   background: #8FBC8F;
   margin: 0% 0% 0% 0%;
   vertical-align: middle;
   color: #ffffff;
   opacity: 0.75;
}
#second{
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-image:url("../IMAGENS/img-3.png");
	background-position:center;
	background-size:contain;
	height: 100%;
	width: 100%;
} #third{
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 110%;
	width: 100%;
	background-color:#F0E68C
} #fourth{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image:url("../IMAGENS/img-2.png");
	background-position:center;
	background-size: contain;
	height: 100%;
	width: 100%;
	background-color:#1C1C1C;

}#homeMod{
	height: 100%;
	width: 100%;
	background-repeat: repeat;
	background-attachment: fixed;
	background-image: url("../IMAGENS/back-mapa2.png");
	background-color: #1C1C1C;
	background-size: contain;
}#homeMod div{
	float: left;
	width: 100%;
}
#homeMod2{
	height: 100%;
	width: 98%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url("../IMAGENS/back-mapa2.png");
	background-color: #1C1C1C;
	background-size: contain;
	padding: 1%;
}
 #img{
	margin-top: 1%;
	margin-left: 42%;
} #img2{
	margin-top: 12%;
	margin-left: 35%;
} #img3{
	margin-left:28%;
} #img4{
	margin-top: 10%;
	margin-left: 25%;
} #img5{
	margin-top: 5%;
	margin-left: 15%;
} #button{
	background-color: none;
} .buttonComece{
	border: 1px solid #ffffff;
	margin-top: 10%;
	margin-left: 35%;
	background-color: #4CAF50;
   padding: 1% 10%;
   border-radius: 25px;
   font-size: 20px;
   font-family: sans-serif;
   color: #FEFEFE;
}.button2:hover {
    background-color:#CCFFFF ;
    color: #000000;
} #fonte{
	margin-top: 17%;
	margin-left: 2%;
	margin-right: 2%;
	font-family: sans-serif;
	color: #FEFEFE;
}#forma div{
	float: left;
   width: 16%;
   height: 30%;
   background: #000000;
   margin: 1% 0% 3% 2%;
   text-align: center;
   border-radius: 0px;
   opacity: 0.60;

	 /* ADIÇÃO DE BORDAS ARREDONDADAS //DATA(11/01/2018) */
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
 	border-radius:7px;


}#forma h1{
	font-family: sans-serif;
	color: #ffffff;
	font-size: 30pt;
	margin:1% 0% 0% 2%;
}#forma h2{
	font-family: sans-serif;
	color: #ffffff;
	font-size: 30pt;
	margin:1% 0% 0% 2%;
}#forma div a{
	margin-left: 20%;
	position: relative;
	bottom: 15px;
	background-color: #000000;
	display: block;
	width: 60%;
	height: 15%;
	text-align: center;
	color: #ffffff;
	font-size: 15pt;
	font-family: sans-serif;
	border:1px solid #ffffff;
	text-decoration: none;
border-radius: 25px;
}#forma div a:hover{
	color: #000000;
	background-color: #ffffff;
}
#forma div p{
	position: relative;
	font-family: sans-serif;
	color: #ffffff;
	font-size: 17pt;
	text-align: center;
	margin-top: 18%;
	margin-bottom:15%;
}#formaMapa div{
	float: left;
	border: 1px solid #ffffff;
   width: 15%;
   height: 50%;
   background: #8FBC8F;
   margin: 15% 1% 0% 1%;
   text-align: center;
   vertical-align: middle;
   line-height: 70px;
   font-family: sans-serif;
   font-size: 20pt;
   min-width:17.5%;
   color: #ffffff;
   border-radius: 10px;
   opacity: 0.75;
 }#formaMapa div a{
	text-decoration: none;
	color: #ffffff;
 }#formaMapa div:hover{
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
 }footer{

	position: fixed;
   margin: 38% 0 0 89% ;
   text-align: center;
   background-attachment: fixed;
   border-radius: 0px;
   color: #ffffff;
   opacity: 0.60;
   width: 0;
   height: 0;
   border: 75px solid;
   border-color: rgba(0,0,0,0) rgba(0,0,0,60) rgba(0,0,0,60) rgba(0,0,0,0);

}footer:hover{
	border-color: rgba(0,0,0,0) rgba(255,255,255,60) rgba(255,255,255,60) rgba(0,0,0,0);
	color: #000000;
 }iframe{
 	width: 750px;
 	height: 400px;
 	margin: 5% 0% 0% 20%;
 	border-radius: 15px;
}h4{
	position: relative;
	font-family: sans-serif;
	color: 	#000000;
	font-size: 13pt;
	text-align: center;
	margin-top: 5%;
	background-color: rgba(0,0,0,0);
}p{
	position: relative;
	font-family: sans-serif;
	color: 	#000000;
	font-size: 15pt;
	text-align: center;
	background-color: rgba(0,0,0,0);

 }h5{
	position: relative;
	font-family: sans-serif;
	color: 	#000000;
	font-size: 15pt;
	margin-top: 2%;
	background-color: rgba(0,0,0,0);
 }h6{
	position: relative;
	font-family: sans-serif;
	color: 	#ffffff;
	font-size: 30pt;
	text-align: center;
	margin-top: 5%;
	background-color: rgba(0,0,0,0);
}
